<title>
    Welcome
</title>
<body> 
    <h1> Hello {{userSession.user.userName}}, id: {{userSession.user.userID}}</h1>
    <div class="table-responsive"> <!-- css -->
        <table class="table table-bordered table-hover semester-table">
            <tbody>
                {{#each semester_data}} 
                <tr>
                    <td> <a href="#" class="semester-link"> <span style="font-weight: bold;">{{this.Name}}</span> ({{this.Start}} <span class="glyphicon glyphicon-arrow-right" style="color: #FF0000; opacity: 0.5;"></span> {{this.Finish}}) </a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <br>
    <div class='container'>
        <div class='row'>
            <button class="glyphicon glyphicon-plus add-new-sem" onclick="openForm();"></button>  Add a new semester 
        </div>
    </div>

    <br>

    <form id="semester-form" method="post" action="/semesters/add">
        <div class="form-group">
            <label for="Name" class="sr-only">Semester Name</label>
            <input class="form-control" id="Name" name="Name" type="text" placeholder="Semester 1, Fall 2020, etc" value="" required/>
        </div>
        <div class="form-group">
            <label for="Start" class="sr-only">Start date</label>
            <input class="form-control" id="Start" name="Start" type="date" min="2015-01-01" max="2026-01-01" required/>
        </div>
        <div class="form-group">
            <label for="Finish" class="sr-only">End date</label>
            <input class="form-control" id="Finish" name="Finish" type="date" min="2015-01-01" max="2026-01-01" required/>
        </div>
    <button type="submit" class="btn btn-success pull-right">Submit</button> 
    <button id="cancel" class="btn btn-warning pull-right" type="reset" onclick="closeForm();">Cancel</button>
  </form>

</body>